*{ 
  margin: 0; 
  padding: 0;
}
html, body {
  height: 100%; 
}

.home {
  background: #111; 
 height: 100%; width: 100%; 
 display: flex; 
 align-items: center;
 justify-content: center; 
 flex-wrap: wrap;
 text-align: center; 
}

.title {
   color: white; 
 } 
.page-title{
  color:white
}
 .title-sub{
   color:white; 
   font-size: 0.8em
 }

 .food {
   background:white; 
   border-radius: 10px; 
   width:400px; 
   padding: 20px; 
   margin-top: 4px;
 }

 .navbar {
   background: white; 
   padding: 20px; 
 }
 .navbar a {
   margin-right: 10px; 
   text-decoration: none;
   color:#222;
 }
 .navbar a:hover {
   font-weight: bold
 }.event-message{
color: #f39797;
font-weight: bold;
font-size: 0.78em
 }